.main-block {
  background-color: rgb(114, 206, 255);
  color: #ffffff;
  padding: 20vw 0 20vw 0;
  /* margin: ; */
}
.main-content {
  width: 500px;
  /* aspect-ratio: 1; */
  margin: 0 auto;
  border: 6px solid #c44b4b;
  border-radius: 24px;
  padding: 16px;
  
}
.title {
   text-align: center;
}
.main-paragraph {
}
.main-link {
   text-align: center;
   display: inline-block;
   width: 100%;
   margin-bottom: 20px;
   color: rgb(137, 14, 98);
   font-size: 18px;

   text-decoration: none;
}

.card{
   background-color: aqua;
}
